@font-face {
  font-family: 'iconfont';  /* Project id 2860591 */
  src: url('//at.alicdn.com/t/font_2860591_2e1f862f9f.woff2?t=1635328183085') format('woff2'),
       url('//at.alicdn.com/t/font_2860591_2e1f862f9f.woff?t=1635328183085') format('woff'),
       url('//at.alicdn.com/t/font_2860591_2e1f862f9f.ttf?t=1635328183085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



